[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
lxml = "*"
python-telegram-bot = "*"
beautifulsoup4 = "*"
black = "*"
isort = "*"
schedule = "*"
hyperframe = "*"
gitpython = "*"
httpcore = {extras = ["asyncio"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
